*{
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;

}
.App {
  text-align: center;
}

.App-header{
  margin-top: 30px;
  background-color:rgba(244, 146, 197, 0.129);
  height: 50vh;
  width:50%;
display: block;
margin-left: 25%;
}
.fname {
  padding-top: 70px;
}
.lname{
  padding-top:50px ;
}
input{
  font-size: 18px;
width: 70%;
height: 40px;
padding-left: 10px;
margin-left: 10px;
}